.DS_Store
.ycm_extra_conf.py
.ycm_extra_conf.pyc
cpp
data
xcode/Handmade\ Hero.xcodeproj/project.xcworkspace/*
xcode/Handmade\ Hero.xcodeproj/xcuserdata
xcode/handmade.xcodeproj/project.xcworkspace/*
xcode/handmade.xcodeproj/xcuserdata
handmade
handmade.dSYM/
osx_asset_builder
test_asset_builder
test_asset_builder.dSYM/
*.dylib
*.so
*.o
test.out
Handmade.app
handmade.cpp
handmade.h
handmade_asset.cpp
handmade_asset.h
handmade_asset.osx.cpp
handmade_asset_type_id.h
handmade_audio.cpp
handmade_audio.h
handmade_config.h
handmade_debug.h
handmade_debug.cpp
handmade_debug_interface.h
handmade_entity.cpp
handmade_entity.h
handmade_file_formats.h
handmade_generated.h
handmade_intrinsics.h
handmade_math.h
handmade_meta.h
handmade_meta.cpp
handmade_optimized.cpp
handmade_platform.h
handmade_random.h
handmade_render_group.cpp
handmade_render_group.h
handmade_sim_region.cpp
handmade_sim_region.h
handmade_tile.cpp
handmade_tile.h
handmade_world.cpp
handmade_world.h
simple_preprocessor.cpp
stb_truetype.h
win32_handmade.cpp
win32_handmade.h
loop_edit*.hmi
build/
Contents/
test/
test2/
test3/
test.hha
test1.hha
test2.hha
test3.hha
test_asset_builder.cpp
test_asset_builder.h

