.DS_Store
.ycm_extra_conf.py
.ycm_extra_conf.pyc
cpp
data
xcode/Handmade\ Hero.xcodeproj/project.xcworkspace/*
xcode/Handmade\ Hero.xcodeproj/xcuserdata
xcode/handmade.xcodeproj/project.xcworkspace/*
xcode/handmade.xcodeproj/xcuserdata
handmade
handmade.dSYM/
osx_asset_builder
test_asset_builder
test_asset_builder.dSYM/
*.dylib
*.so
*.o
Contents/
Handmade.app
HandmadeTabView
hhaedit
stb_truetype.h
loop_edit*.hmi
*.hha
*.dump
hh*.sh
cas*.sh
makepatch*.sh
art/
build/
hha/
sources/
tags/
test/
test2/
test3/
osx_fonts/
